@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  font-family: 'Poppins';
}

body {
  background: linear-gradient(45deg, #8100F8 0%, #12C2E9 100%) no-repeat;
  /* background-color: #121212; */
}

.header {
  display: flex;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  position: fixed;
  height: 100px;
  top: 0;
}

.title {
  text-transform: uppercase;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.container-half {
  max-width: 700px;
  color: #e9e9e9;
  text-transform: uppercase;
  font-weight: 700;
}

.container-half h1 {
  font-weight: 700!important;
}

h1 p.easy {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.container-half strong {
  color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #12c2e1;
  font-size: 170px;
}

.img-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  margin-left: 50px;
}

.img-background img {
  height: 100vh;
}

.img-background::after  {
  content: '';
  background-color: #f6465d;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #121212 0%, #121212d9 49%, #121212 100%);
}

section.container.home {
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.carousel {
  width: 40%;
  height: 50%;
}

.carousel-inner {
  border-radius: 50%;
}

